html
    head
        link(rel="stylesheet", href="TopNavigation.css")
    div(class='top')
        a(href='/Home') Home
        a(href='/AboutUs') About Us
        a(href='/HowItWorks') How It Works
        a(href='/ContactUs') Contact Us
        a(href='/Login') Login
        a(href='/Register') Sign Up
    body
        p
            center
                | This is a portal where all people looking forward to establish their startups and expand their business can seek the guidance of various experts.
                br
                | If you are looking for guidance follow some simple steps for registration. You will be given an account on this website through which you can contact different experts based on your domain.
                br
                | The mentors can post different statistical reports as well as scholoarly articles which might help startups to analyze the present market trend.
                br
                | The people looking for guidance can post their queries in the discussion forum and the mentors will respond accordingly.
                br
                | You can also go to the 
                a(href='/HowItWorks') How it Works
                |  section to know how the portal works.
