html
  head
    title First event
  body
    #demo
      h1 This is serious
    button(type='button', onclick='f1()') Press this
    script(type='text/javascript').
      function f1()
      {
      var xhttp=new XMLHttpRequest();
      xhttp.onreadystatechange=function(){
      if(this.readyState==4&&this.status==200)
      document.getElementById('demo').innerHTML="<h1>"+this.responseText+"</h1>";
      };
      xhttp.open('GET','http://localhost:3000/events',true);
      xhttp.send();
      }
