html
    head
        link(rel="stylesheet", href="TopNavigation.css")
    div(class='top')
        a(href='/Home') Home
        a(href='/AboutUs') About Us
        a(href='/HowItWorks') How It Works
        a(href='/ContactUs') Contact Us
        a(href='/Login') Login
        a(href='/Register') Sign Up
        